.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing:auto;
    font-style:normal;
  }
  /*front page*/
  nav{
      display:flex;
      color: #0d1321;
      align-items: center;
      justify-content: space-between;
      margin: 0px 160px;
  }
  .nav-title{
      font-weight: 800;
      font-size: 28px;
      
  }
  .nav-button{
      font-weight: 600;
      font-size: 20px;
      padding: 17px 24px;
      background-color: white;
      border-radius: 8px;
      opacity: 0.75;
  
  }
  nav ul li{
      list-style: none;
  }
  .btn-primary{
      background-color: black;
      font-size: 20px;
      font-weight: 600;
      color: white;
      padding: 21px 24px;
      border-radius: 8px;
      margin-top: 20px;
      margin-bottom: 48px;
  }
  .banner{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .banner h1{
      width: 998;
      justify-content: center;
      font-size: 36px;
      padding-left: 190px;
      padding-right: 190px;
      font-weight: 800;
  }
  .banner-content{
      text-align: center;
      font-size: 16px;
  
  }
  .banner-description{
      padding-left: 50px;
      padding-right: 50px;
      font-size: 16px;
      margin-top: 12px;
      opacity: 0.8;
  }
  .banner{
      background-image: url('../assets/Hero-bg.png');
  }
  .margin{
      margin: 150px;
  }
  .about1{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column ;
}
.section-title{
    display: flex;
    font-weight: 800;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.section-content{
    margin-top: 26px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 150px;
    padding-right: 150px;
    opacity: 0.8;
}
.layer1{
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    display:flex
    
}
.layer1-description{
    justify-content: left;
    padding-right: 150px;
}
.layer1-title{
    font-size: 26px;
    font-weight: 700;
    opacity: 0.7;
}
.layer1-content{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;

}
main a{
    color: black;
}
.layer1-pic{
    width: 274;
    height: 240;
    justify-content: center;
}
.layer2{
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    display:flex
}
.layer2-description{
        justify-content: right;
        padding-left: 150px;
    
}
.layer2-title{
        font-size: 26px;
        font-weight: 700;
        opacity: 0.7;
}
.layer2-content{
        font-size: 16px;
        font-weight: 400;
        opacity: 0.8;
 }
.btn-secondary{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 18px;
    opacity: 0.8;
}
.yt {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray; 
        border-radius: 8px; 
        padding: 20px;
        margin: 20px auto; 
        max-width: fit-content;
}
.lan{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 120px 0px 120px 0px;

}
.HTML{
    background-color: rgba(255, 76, 30, 0.05);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.CSS{
    background-color: rgba(0, 76, 232, 0.05);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.JS{
    background-color: rgba(255, 223, 0, 0.05);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.pera{
    font-size: 12px;
    opacity: 0.8;
}
.support{
    text-align: center;
}
.support-title{
    justify-content: center;
    margin-top: 50px;
    font-weight: 800;
    font-size: 32px;
}
.support-content{
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-left: 80px;
    padding-right: 80px;
}
/*.search-bar{
    width: 100%;
    max-width: 700px;;
}*/
.container{
    margin-bottom: 50px;
}
.handshake{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-size: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    border-radius: 20px;
    
}
.container input{
    padding: 20px;
    margin-right: 30px;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 0%;
}
.container form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 200px;
    margin-right: 30px;
    flex-direction: column;
    border-radius: 10px;
}
.T{
    border-radius: 10px;
    padding: 10px
    
}
.last{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 0%;
    justify-content: space-between;
}
.icons{
    display: flex;
    list-style-type: none;
    
}
div ul li{
    padding: 0 0 0 15px;
}